<h1> Your Teams</h1>
<br>
<br>
<%= button_to "Home", "/users", method: "get" %>
<br>
<%= button_to "Create a new team", new_pokemon_team_path, method: "get" %>
<br>
<br>

<% @team.each do |x| %>
<%= form_with model: @team, url:  pokemon_team_path(current_user, x), method: "get" do |f|%>
    <%= f.hidden_field :team_id, value: x.id %>
    <%= submit_tag(x.team_name, id: "button", name: "submit" ) %>
<br>
<%= link_to 'Delete Team', pokemon_team_path(current_user, x) , method: "delete" %>
<% end%>
<% end %>
