<h1>Please Create a New Team</h1>
<br>
<br>
<%= form_for @team do |f|%>
    <%= f.label :team_name %>
    <%= f.text_field :team_name %>
    <br>
    <br>
<%= f.submit %>
<ul>
<%= collection_check_boxes(:team, :pokemon_ids, Pokemon.all, :id, :name) do |b| %>
<%= content_tag :li, b.label{b.check_box + b.text}, class: "checkbox-wrap" %>
<% end %>
</ul>
<% end %>