<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><%= image_tag 'ball.png' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </li>
       <% if logged_in? %>
            <li>
                <%= link_to 'Pokedex', pokemons_path, class: 'nav-link active' %>
            </li>
            <li>
                <%= link_to 'Teams', pokemon_teams_path(current_user.id), class: 'nav-link active' %>
            </li>
            <li>
                <%= link_to 'Logout', logout_path, class: 'nav-link active', method: "post" %>
            </li>
        <% else %>
            <li>
                <%= link_to 'LOGIN', login_path, class: 'nav-link active' %>
            </li>
            <li>
                <%= link_to 'SIGNUP', signup_path, class: 'nav-link active' %>
            </li>
            <li>
                <%= link_to 'LOGIN WITH GOOGLE', "/auth/google_oauth2", class: 'nav-link active', method: "post" %>
            </li>
        <% end %>

    </ul>
<%= form_tag pokemons_path, method: "get", html: { class: 'd-flex'} do %>
    <%= text_field_tag(:name, "", class: "form-control me-2", placeholder: "Search for Pokemon")  %>
    <%=  submit_tag :Search, class: "btn btn-outline-success" %>
<% end %>
  </div>
</nav>